$orange: #f83;
$green: #4d6;
$payGreen: #4a6;
$blue: #409eff;
$payRed: #f11;
$border: 1px solid #ccc;

.orange {
  color: $orange;
}

.red {
  color: red;
}

.pink-800 {
  color: #ad1457;
}

.green {
  color: #48b548;
}

.blue {
  color: #2176ff;
}

.purple {
  color: #bc45ab;
}

.skyblue {
  color: skyblue
}

.gray {
  color: #ccc;
}

.info {
  color: #333;
}
.orange{
  color: orange;
}

.not-allowed {
  cursor: not-allowed;
  user-select: none;
  text-decoration: none;
}
